@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800);
.link_header{color:#ff0;margin-top:12px;position:absolute;font-weight:400}
#bannerhomepage{height:285px;width:490px;margin-top:24px;margin-left:77px}
#countdown-path{font-size:10px;margin-bottom:5px;color:#575757}
#countdown-success{font-size:12px;margin-bottom:5px;margin-top:5px;color:#575757}
.super-campaign-home-slide{width:490px;height:285px}
.super-campaign-home-slide .owl-controls .owl-pagination{display:none!important}
.super-campaign-home-slide .owl-controls .owl-buttons{position:absolute;top:45%;z-index:99;width:100%}
.super-campaign-home-slide .owl-controls .owl-buttons .owl-prev,.super-campaign-home-slide .owl-controls .owl-buttons .owl-next{position:absolute;background-color:#fafafa;color:#bababa}
.super-campaign-home-slide .owl-controls .owl-buttons .owl-prev{left:0}
.super-campaign-home-slide .owl-controls .owl-buttons .owl-next{right:0}