/* countdown */
.countdown-long{clear:both;width: 233px;border: 2px solid #d7d7d7;margin:10px auto 15px;border-radius: 5px;padding:5px 8px;}
.countdown-long:before{margin-top:5px;margin-right:12px;float:left;display:inline-block;background:url('../../images/campaign/icon-clock.png') no-repeat left center;width:33px;height:40px;content:'countdown';text-indent: 999em;overflow: hidden;}
.countdown-long .countdown-day{margin-right:3px!important}
.countdown-long .dot{margin-right:5px;}
.countdown-long .countdown-day,
.countdown-long .countdown-hour,
.countdown-long .countdown-min{margin-right:5px;width:30px}
.countdown-long .dot,
.countdown-long .countdown-day,
.countdown-long .countdown-hour,
.countdown-long .countdown-min,
.countdown-long .countdown-sec{display:inline-block;vertical-align: top}
.countdown-long span span{display:block}
.countdown-long span span.unit{color:#919090;font-size:9px;font-weight: 400}
.countdown-long span span.val{color:#333;font-size:22px;font-weight: 400}
.countdown-medium,
.countdown-short{margin:0 auto;width:200px;}
.countdown-medium .countdown-day,
.countdown-short .countdown-day{margin-right:5px;}
.countdown-wrap span.text,
.countdown-wrap span.medium,
.countdown-wrap span.short,
.countdown-wrap span.long{line-height: 25px; margin-left: 7px; font-size: 13px; font-weight:400; /*color: #615F5C;*/}
/*end countdown*/
/*header text*/
#header-campaign-slide{width:500px;height: 37px; overflow: hidden;line-height: 37px;}
#header-campaign-slide a{color:#FFCF00}
#header-campaign-slide .owl-controls{ display: none!important;}
#header-campaign-slide .countdown-medium, .countdown-short{ width:auto;display:inline-block;}
#header-campaign-slide .countdown-wrap span.text, #header-campaign-slide .countdown-wrap span.medium, #header-campaign-slide .countdown-wrap span.short, .countdown-wrap span.long{/*color:#fff;*/}
/*end header text*/
/*Sidebar*/
.sidebar-left-campaign.coundown{width:129px}
#coundown-sidebar{display:block;line-height:10px!important}
.sidebar-left-campaign{background:#fff;cursor:pointer;position:fixed;left:0;bottom:0;width:80px;height:100px;z-index:1000}
.sidebar-left-campaign .icon-campaign{padding:10px 0;text-align:center}
.sidebar-left-campaign .title-campaign{color:#fff;background:#f58349;text-align:center;position:relative;padding:8px 5px;font-size:12px;font-weight:600}
.sidebar-left-campaign .title-campaign:after{position:absolute;z-index:9;bottom:-5px;left:29px;content:'v';display:block;text-indent:-999em;overflow:hidden;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #f58349}
.sidebar-left-campaign.coundown .title-campaign:after{left:58px}
.close-left-campaign{cursor:pointer;display:block;width:13px;height:16px;color:#BA4E18;font-size:16px;position:absolute;z-index:99;border-radius:0;right:0;top:0}
.sidebar-left-campaign.hide-campaign{bottom:-100px;-ms-transform:translate(0,100px);-webkit-transform:translate(0,100px);transform:translate(0,100px);transition:All .15s ease;-webkit-transition:All .15s ease;-moz-transition:All .15s ease;-o-transition:All .15s ease;-webkit-transform:translateY(100px);-moz-transform:translateY(100px);-o-transform:translateY(100px);transform:translateY(100px)}
/*end Sidebar*/