
@media (max-width: 540px) {
    .sc-popup06 table{border-spacing:12px !important}
    .sc-popup06 table{width:100% !important;}
    .sc-popup06 p{font-size:15px !important;}
    .sc-popup06 td{display:block;}
    .sc-popup06 .newsletter-form td input{margin:10px 0;width:100%}
    .sc-popup06 .newsletter-form td button{margin:0;}
    .sc-popup06 .newsletter-form .dialogClose{right:-6px;top:-25px;}

}