.sc-popup6 tbody td p img{max-width:213px;}
.sc-popup6 table table,
.sc-popup6 table table input{width:100%;}
@media (max-width: 540px) {
    .sc-popup6 table{border-spacing:12px !important}
    .sc-popup6 table{width:100% !important;}
    .sc-popup6 p{font-size:15px !important;}

    .sc-popup6 td{}
    .sc-popup6 .newsletter-form td input{width:100%}
    .sc-popup6 .newsletter-form td button{margin:0;}
    .sc-popup6 .newsletter-form .dialogClose{right:-6px;top:-25px;}
    .modal-content {
        width: 100%!important;
    }
    .modal-dialog {
        top: 100px;
        width: 94%!important;
        left: 2%!important;
        margin-left: 0!important;
    }

}
