
#sc-popup5 .modal-dialog .modal-content{
    border-radius: 50%;
    height: 420px;
    width: 420px;
    padding: 60px;
    margin: 0 auto;
    background:#4A4848;
}
#sc-popup5 form input{
    display:block;
    border:0;
    outline:0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.1);
    color:#000;
    padding:8px 10px;
    font-size:17px;
    line-height:20px;
    margin-bottom:10px;
    height:auto;
    text-align:center;
}
#sc-popup5 button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.1);
    font-size:18px;
    font-weight:bold;
    width: 100%;
    height: 44px;
    text-align:center;
    padding: 0 4px;
    cursor: pointer;
    border:none;
    display:block;
}

#sc-popup5 .dialogClose.style1 {
    background: url(../../../../images/campaign/popup/close_white.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
}