.sc-popup16 form input {
    height: auto;
    padding: 9px 0 8px 5px;
    font-size: 15px;
    line-height:18px;
    font-weight:bold;
    border: 1px solid #e0dede;
    background: #fff;
    margin-bottom:6px;
    text-align:center;
}
.sc-popup16 form button {
    font-size:18px;
    font-weight:bold;
    height: 44px;
    text-align:center;
    padding: 0 4px;
    cursor: pointer;
    border:none;
    display:block;
    width: 100%;
}
.sc-popup16 form {
    width: 100%;
}

.sc-popup16 form input{
    width:100%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.sc-popup16 button {
    background-color: #3694D2;
    color:#FFFFFF;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    width: 100%;
}
