.sc-popup15 form input {
    height: auto;
    padding: 6px 0 8px 5px;
    font-size: 15px;
    line-height:18px;
    font-weight:bold;
    border: 1px solid #e0dede;
    background: #fff;
    margin-bottom:6px;
    text-align:center;
}

.sc-popup15 form input{
    width:100%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}