
.sc-popup04 form {
    width: 90%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;

}

.sc-popup04 button {
    background-color: #D83C3C;
    color:#FFFFFF;
}
.sc-popup04 button:before { /* left arrow */
    border-color: transparent #D83C3C transparent;
    content:' '
}

.sc-popup04 form table{
    border-spacing:0 !important;
}

.sc-popup04 form input {
    padding: 10px 5px;
    float: left;
    font-size: 15px;
    font-weight:bold;
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -khtml-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    box-shadow: 1px 0 2px 0 rgba(0,0,0,0.3) inset;
}

.sc-popup04 form input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 1px 0 2px rgba(0,0,0,0.4) inset;
}

.sc-popup04 form button {
    height:40px;
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight:bold;
    text-transform: uppercase;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, 0.3);
    line-height:19px;
}

.sc-popup04 button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    top: 12px;
    left: -7px;
}

.sc-popup04 form table, .sc-popup04 form input {
    width:100%;
    height:40px;
}

.sc-popup04 form button {
    width:auto;
}

.sc-popup04 form button:hover{
    background-color: #D83C3C;
    color:#FFFFFF;
    cursor: pointer;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, 0.9);
}
.sc-popup04 .modal-dialog .modal-content{padding:20px;}
